.page.home {
  .categories {
    // background-image: url("../../../assets/images/section2-3-background.png");
    // background-position: bottom center;
    // background-size: cover;
    // background-color: #1e1e1e;
    background: linear-gradient(transparent, transparent, #1e1e1e);
    position: relative;
    .nfts .MuiGrid-item > div{
      //box-shadow: 0 0 14px 19px rgba(0, 0, 0, 1);
      position: relative;
      z-index: 999;
    }
  }
}