.page.home {
  .nfts {
    .nft-row {
      min-height: 755px;
      padding-right: 65px;
      overflow: hidden;

      & > div {
        transform: translateX(30px);
        transition: flex 1s;
        &:hover {
          flex: 40%;
          transition: flex 1s;
        }
      }

      .nft-box {
        text-align: center;
        height: 100%;
        background-position: center;
        background-size: cover;
        transform: skewX(-10deg);
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 1s;

        img {
          transform: skew(10deg);
          transition: transform 1s;
          max-width: 60%;
        }

        &.last:after, &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          height: 1300px;
          top: -300px;
        }
        &.last:after {
          background-position: center left;
          right: -333px;
          width: 680px;
        }
        &:after {
          background-position: center left;
          top: -300px;
          right: 0;
          width: 340px;
        }

        &:before {
          background-position: center right;
          top: -300px;
          left: 0;
          width: 333px;
        }
      }

    }
  }

  @media screen and (max-width: 900px) {

  }
}