.page.home {
  .our-partners {
    background: url('../../../assets/images/partners-back.svg');

    & > div {
      align-items: center;
      min-height: 755px;
      padding: 0 45px;

      .partners-heading {
        text-align: left;
        background-image: url('../../../assets/images/games-background.png');
        background-position: bottom left;
        background-repeat: no-repeat;
        margin-bottom: 50px;
      }
      & h5 {
        font-family: 'saira', 'serif';
        color: white;
        max-width: 190px;
        margin: 10px auto;
      }
    }

    .partner-box {
      position: relative;
      transition: transform 0.5s ease;
      & > div:after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        top: 48%;
        left: 49%;
        transition: box-shadow 0.5s ease;
      }
      & > div {
        display: grid;
        place-items: center;
        width: 256px;
        height: 160px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin: auto auto 15px;
        padding-bottom: 10px;

        & > div {
          display: grid;
          place-items: center;
          height: 160px;
        }

        .partner-box-number {
          position: absolute;
          bottom: 20px;
          height: auto;
          left: 0
        }
        p {
          float: left;
          font-family: saira;
          font-size: 1.5em;
          margin-left: 18px;
          transition: color 0.5s ease;
        }
      }
      &:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease;
        p {
          color: rgb(7, 138, 212) !important;
          transition: color 0.5s ease;
        }

        & > div:after {
          box-shadow: 0 0 50px 30px #03a2fe;
          transition: box-shadow 0.5s ease;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
  }
}