.page.nft {
  .header {

    & > div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 70px;
    }
  }

  //.show-off > div {
  //}
  //
  .showOff-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
    box-shadow: 15px 25px 25px 0.72px rgba(0, 0, 0, 0.33);
    height: 125px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right-style: none;
    border-left-style: none;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    max-height: 125px;
    text-wrap: nowrap;
    overflow: hidden;

    & * {
      margin: 0 15px
    }

    & p {
      font-family: lemonmilkBold, serif;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 5px;
      line-height: 1.8;
      text-transform: uppercase;
      text-shadow: 0 11px 32px rgba(0, 0, 0, 0.46);
      -webkit-text-stroke: 1px rgb(100, 100, 100);
      color: transparent;
      text-wrap: nowrap;
      text-align: center;
    }

  }
  @media screen and (max-width: 900px) {
    .showOff-container {
      height: 70px !important;

      & > div {
        height: 70px !important;
        img {
          max-height: 35px !important;
        }
        p {
          font-size: 2.5rem;
        }
      }
    }
  }
}