.page.about .category-logos {
  background-image: url("../../../assets/images/about-cat-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 45px;

  .logo-grid {
    min-height: 755px;
    padding-top: 325px;

    .logo-item {
      text-align: center;

      img {
        max-width: 100%;
      }

      h5 {
        font-family: 'saira', serif;
        color: white;
        max-width: 190px;
        margin: 10px auto;
      }
    }
  }
}
