.corners {
  position: relative;
  transition: transform 1s ease;
  &:hover {
    .tl, .tr, .bl, .br {
      opacity: 1;
      transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
    }
    .tl {
      transform: rotate(-90deg) translate(0, 0);
    }
    .tr {
      transform: translate(0, 0);
    }
    .bl {
      transform: rotate(180deg) translate(0, 0);
    }
    .br {
      transform: rotate(90deg) translate(0, 0);
    }

  }
  img {
    position: absolute;
    width: 14px;
    height: 14px;

    &.tl {
      top: 0;
      left: 0;
      transform: rotate(-90deg) translate(30px, -30px);
      opacity: 0;

    }
    &.tr {
      top: 0;
      right:0;
      transform: translate(30px, -30px);
      opacity: 0;
    }
    &.bl {
      bottom: 0;
      left: 0;
      transform: rotate(180deg) translate(30px, -30px);
      opacity: 0;
    }
    &.br {
      bottom: 0;
      right: 0;
      transform: rotate(90deg) translate(30px, -30px);
      opacity: 0;
    }
  }
}