.headings {
  .heading-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      padding-top: 30px;
    }
  }

  @media screen and (max-width: 1280px) {
    .arrow {
      padding-top: 20px !important;
       img {
         max-width: 95px;
       }
    }
  }
}