.page.games .overview {
    background-image: url("../../assets/images/games-main-bg.png");
    background-position: bottom center;
  margin-top: -30px;
  background-size: cover;

  .main {
    padding-top: 130px;
    min-height: 900px;

    .overview-box {
      .text-box, .image-box {
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
      }

      .text-box {
        background-size: 100% 100%;
        padding: 0 15%;
        & > p.title {
          font-family: saira, serif;
          font-size: 30px;
          text-align: left;
        }
      }
      .image-box {

      }
    }
  }

  .bars {
    background-image: url("../../assets/images/game-bars.png");
    height: 100px;
  }

  .characters {
    .character-boxes {
      display: flex;

      .character {
        height: 460px;
        width: 100%;
        margin: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid rgba(255, 255, 255, 0.5);
        position: relative;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    .text-box {
      height: 300px !important;
      padding: 0 85px !important;
      & > p.title{
        font-size: 30px !important;
      }
    }
    .image-box {
      height: 300px !important;
      padding: 0 60px !important;
      img {
        max-height: 90%;
        max-width: 90%;
      }
    }
  }
}