.page.home {
  .about {
    & > div {
      margin-top: -25px;
      position: relative;
      z-index: 99999;
      min-height: 882px;
      background-image: url('../../assets/images/about-background.png');
      background-size: 100% 100%;
      clip-path: url('../../assets/images/home-about-cliping.svg');
    }

    @media screen and (max-width: 980px) {
      img {
        max-width: 50%;
      }
    }
    @media screen and (max-width: 980px) {
      img {
        max-width: 50%;
      }
    }
  }
}