.page.home {
  .games {
    //position: relative;
    //z-index: 999999;
    margin-top: -55px;
    padding-top: 55px;
    overflow: hidden;

    //background-color: #181818;
    background-image: url('../../assets/images/games-background.png');
    background-position: top right;
    background-repeat: no-repeat;

    .heading-container {
      padding: 0 40px;
      //position: relative;
    }

    .slick-list {
      width: 110%;
    }
    .slick-arrow {
      display: none !important;
    }

    .slider-container {
      padding: 0 40px;
      //width: 110%;
      //overflow: hidden;
      .game {
        min-height: 660px;
        background-size: cover;
        position: relative;
        width: calc(100% - 36px) !important;
        //display: inline-block;
        //margin: 0 18px;

        .text-box {
          text-align: left;
          min-height: 130px;
          width: 240px;
          backdrop-filter: blur(10px);
          background-color: rgba(180,180,180, 0.3);
          position: absolute;
          bottom: 30px;
          left: 30px;
          border: 1px solid #a2a2a2;
          & > div {
            margin: 30px 25px;
          }
          & > * {
            font-family: 'saira', 'serif';
          }
        }
      }
      .game.game1 {
        background-image: url('../../assets/images/game-1.jpg');
      }
      .game.game2 {
        background-image: url('../../assets/images/game-2.jpg');
        position: relative;
      }
      .game.game3 {
        background-image: url('../../assets/images/game-3.jpg');
      }
      .game.game4 {
        background-image: url('../../assets/images/game-4.jpg');
      }
    }


    @media screen and (max-width: 980px) {
      img {
        //max-width: 50%;
      }
    }
    @media screen and (max-width: 980px) {
      img {
        //max-width: 50%;
      }
    }
  }
}