.page.home {
  .games {
    background-color: #1e1e1e;
    margin-top: -55px;
    padding-top: 55px;
    overflow: hidden;

    background-image: url('../../assets/images/games-background.png');
    background-position: top right;
    background-repeat: no-repeat;

    .heading-container {
      padding: 0 40px;
    }

    .slick-list {
      width: 110%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .slick-arrow {
      display: none !important;
    }

      .slider-container {
      padding: 0 40px;
        .game:hover {
          .text-box {
            background-color: rgba(180,180,180, 0.3);
            width: 240px;
            min-height: 120px;
            //height: auto;
            p {
              margin: 5px 0
            }
            .game-title {
              font-size: 1.5em;
              line-height: 1;
            }
          }
        }
      .game {
        min-height: 660px;
        background-size: cover;
        position: relative;
        width: calc(100% - 36px) !important;

        .text-box {
          text-align: left;
          width: 0;
          height: 0;
          overflow: hidden;
          min-height: 0;
          backdrop-filter: blur(10px);
          //background-color: rgba(180,180,180, 0.3);
          position: absolute;
          bottom: 30px;
          left: 30px;
          transition: width 0.5s ease, min-height 0.5s ease, height 0.5s ease, background-color 1s ease;
          text-wrap: nowrap;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 2px;
            background-color: #F7F7F7;
          }
          & > div {
            margin: 30px 25px;
          }
          & > * {
            font-family: 'saira', 'serif';
          }
        }
      }
      .game.game1 {
        background-image: url('../../assets/images/game-1.jpg');
      }
      .game.game2 {
        background-image: url('../../assets/images/game-2.jpg');
        position: relative;
      }
      .game.game3 {
        background-image: url('../../assets/images/game-3.jpg');
      }
      .game.game4 {
        background-image: url('../../assets/images/game-4.jpg');
      }
    }


    @media screen and (max-width: 980px) {
      img {
        //max-width: 50%;
      }
    }
    @media screen and (max-width: 980px) {
      img {
        //max-width: 50%;
      }
    }
  }
}