.page.home {
  .header {
    .home-exodus {
      font-size: 100px;
      font-family: abnes, serif;
      text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
      -webkit-text-stroke: 1px #FFFFFF;
      background: -webkit-linear-gradient(#FFF, #FFF, transparent, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .universe {
      font-family: 'saira', 'serif';
      position: relative;
      font-size: 4rem;
      color: white;
      text-align: center;
      display: inline-block;
      line-height: 1;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

      &:after,
      &:before {
        position: absolute;
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
      }

      &:after {
        content: "";
        bottom: -8px;
        right: -25px;
        background-image: url('../../assets/images/tagline2After.svg');
        background-size: contain;
      }

      &:before {
        content: "";
        top: -8px;
        left: -25px;
        transform: rotate(180deg);
        background-image: url('../../assets/images/tagline2After.svg');
        background-size: contain;
      }
    }

    .showOff-container {
      background-image: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0), rgba(255,255,255,0.1));
      box-shadow: 15px 25px 25px 0.72px rgba(0, 0, 0, 0.33);
      height: 125px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right-style: none;
      border-left-style: none;
      backdrop-filter: blur(10px);
      max-width: 100vw;
      overflow: hidden;
    }

  }
  @media screen and (max-width: 1100px) {
    .header {
      .home-exodus {
        font-size: 70px;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .header {
      .home-exodus {
        font-size: 50px;
      }
      .universe {
        font-size: 2.5rem;
        &:after, &:before {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .home-exodus {
      font-size: 40px;
    }
    .header {
      .universe {
        font-size: 2rem;
        &:after, &:before {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}