footer {
  background-image: url('../../assets/images/footer-background-2.png');
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;

  &:after, &:before {
    content: "";
    width: 50px;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: url('../../assets/images/footer-sidebar.png');
    background-repeat: repeat-y;
  }

  &:after {
    right: 0;
  }

  &:before {
    left: 0;
  }

  .container1 {
    background-image: url('../../assets/images/footer-background.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 745px;
    margin: 0;
    width: 100%;
    position: relative;


    &:after {
      content: "";
      height: 5px;
      position: absolute;
      background-color: #7e787a;
      left: 60px;
      right: 60px;
      bottom: 0;
    }

    .exodus {
      font-family: 'abnes', 'serif';
      font-size: 60px;
      color: white;
      letter-spacing: 10px;
      text-align: center;
    }

    span, a {
      margin: 40px;
      text-decoration: none;
      color: white;
    }

    .links {
      margin-bottom: 20px;
      font-family: 'bankGothicBTMedium', 'serif';

      span:hover, a:hover {
        font-weight: bold;
      }

    }
  }

  .container2 {
    min-height: 745px;
    margin: 0;
    width: 100%;
  }

  @media screen and (max-width: 1080px) {
    .exodus {
      font-size: 40px !important;
    }
    .links a {
      margin: 15px !important;
      font-size: 0.8em;
    }
    span, a {
      margin: 20px !important;
    }
  }
}