.page {
  .header {
    & > div {
      margin-top: 0;
    }
    .slides-boxes {
      padding-left: 40px;
      padding-right: 40px;

      .box {
        color: rgba(255,255, 255,0.4);
        p {
          cursor: pointer;
        }
        &:after {
          background-color: rgba(255,255, 255,0.4);
          transition: background-color 2s ease;
        }
        transition: color 2s ease;
      }
      .active {
        color: #82ded1;
        &:after {
          background-color: #82ded1;
          opacity: 1;
        }
      }
      & > div {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 55px;

        & p {
          font-size: 15px;
          display: inline-block;
          text-align: right;
          margin-right: 20px;
        }

        &:after {
          content: "";
          width: 6px;
          height: 50px;
          display: inline-block;
          position: relative;
          top: 0;
          left: 0;
          background: #FFF;
          transform: skewY(-45deg);
        }
      }
    }
    .marquee-container {
      background-image: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0), rgba(255,255,255,0.1));
      box-shadow: 15px 25px 25px 0.72px rgba(0, 0, 0, 0.33);
      height: 125px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right-style: none;
      border-left-style: none;
      backdrop-filter: blur(10px);
      max-width: 100vw;
      overflow: hidden;
    }

  }

  @media screen and (max-width: 900px) {
    .header {
      .slides-box {
        & > div {
          height: 30px;

          & p {
            font-size: 12px;
            display: inline-block;
            margin-right: 10px;
          }

          &:after {
            width: 3px;
            height: 28px;
          }
        }
      }

      .marquee-container {
        height: 70px;

        & > div {
          height: 70px;
          img {
            max-height: 35px;
          }
          p {
            font-size: 3rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .header {
    }
  }
}