nav {
  .items-container {
    margin: auto;
    width: 100%;
    max-width: 935px;
    height: 70px;
    background-color: rgba(0, 34, 58, 0.6);
    position: relative;
    padding: 0 20px;

    &:after, &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 68px;
      width: 20px;
      background-size: contain;
    }

    &:after {
      right: -20px;
      background-image: url("../../assets/images/nav-after.svg");
    }

    &:before {
      left: -20px;
      background-image: url("../../assets/images/nav-before.svg");
    }

    .item {
      color: #fff;
      font-family: inherit;
      height: 70px;
      padding: 0 20px;

      &:hover {
        background-color: rgba(166, 225, 255, 0.2);
        border-radius: 0;
        transition: background-color 1s
      }

      &.selected:before, &.selected:after {
        background-size: 100% 100%;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px
      }

      &.selected:before {
        background-image: url("../../assets/images/nav-item-before.svg");
        top: 0;
      }

      &.selected:after {
        background-image: url("../../assets/images/nav-item-after.svg");
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: 959px) {
    .items-container {
      height: 50px;
      button {
        height: 50px !important;
      }

      &:after, &:before {
        height: 48px;
        width: 14px;
      }

      &:after {
        right: -14px;
      }

      &:before {
        left: -14px;
      }

      .item {
        &.selected:before {
          top: 0
        }
        &.selected:after {
          bottom: 0
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .items-container {
      button {
        font-size: 0.7rem;
      }
    }
  }

}
.mobile-nav {
  text-align: right;
  padding-right: 50px;
  display: none;
}


.MuiMenu-paper {
  right: -10px !important;
  left: unset !important;
  width: 350px !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
}

@media screen and (max-width: 650px) {
  //.items-container {
  .mobile-nav {
    display: block !important;
  }
  .desktop-nav {
    display: none !important;
  }
}
//}
