.header {
  box-shadow: 0 24px 28px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 999;
}
.page {
  text-align: center;
  background-color: #1E1E1E;
}
.heading {
  font-family: mechsuit, serif !important;
  font-size: 55px !important;
  line-height: 1 !important;
}
.subheading {
  font-family: saira, serif !important;
  font-size: 60px !important;
  color: white;
  letter-spacing: 10px !important;
  text-align: center;
  line-height: 1 !important;
}
.subheading2 {
  font-family: saira, serif !important;
  font-size: 40px !important;
  color: white;
  letter-spacing: 1px !important;
  line-height: 1 !important;
  text-align: left;
}
.paragraph {
  font-family: 'bankGothicBTMedium', 'serif' !important;
  font-size: 24px !important;
  max-width: 905px;
  text-align: center;
  margin: auto !important;
  line-height: 1 !important;
}
.section-margin {
  margin-left: 45px;
  margin-right: 45px;
}
.section-padding {
  padding-left: 45px;
  padding-right: 45px;
}
section {
  max-width: 100vw;
}
.text-logos {
  font-family: mechsuit, serif !important;
  font-size: 80px !important;
  -webkit-text-stroke: 3px #39b7ff;
  color: rgba(57, 183, 255, 0.3);
  text-shadow: 0 0 100px #39b7ff;
}

.text-field {
  position: relative;
  width: 690px;
  max-width: 90vw;
  -webkit-clip-path: polygon(14px 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 14px) !important;
  clip-path: polygon(14px 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 14px);
  &:before, &:after {
    position: absolute;
    z-index: 9;
    height: 14px;
    width: 14px;
    background-color: transparent;
    //border: inherit;
    border: 1px solid #8f8f8f;
    box-sizing: border-box;
    transform: scale(1.41) rotate(45deg);
    content: "";
  } &:before {
    top: -6px;
    left: -7px;
  } &:after {
    bottom: -6px;
    right: -7px;
  }
  & label {
    color: #8f8f8f !important;
    background-color: black;
    //padding: 10px;
    left: 5px;
  }

  & div {
    background-color: black;
  }
  & input {
    height: 18px;
    color: #8f8f8f;
    background-color: black;
    border-radius: 0;
    border: 1px solid #8f8f8f;
    position: relative;
  }
  & input::-ms-input-placeholder, & input::placeholder {
    color: #8f8f8f !important;
  }
  & fieldset {
    border: none !important;
  }
}

.animated {
  visibility: hidden;
}
.animated.visible {
  visibility: visible !important;
}

@media screen and (max-width: 1366px) {
  .heading {
    font-size: 45px !important;
  }
  .subheading {
    font-size: 45px !important;
  }
}
@media screen and (max-width: 1280px) {
  .heading {
    font-size: 35px !important;
  }
  .subheading {
    font-size: 35px !important;
  }
}
@media screen and (max-width: 900px) {
  .heading {
    font-size: 30px !important;
  }
  .subheading {
    font-size: 30px !important;
  }
}
